.onlyCapitalized{ text-transform: capitalize !important;}

  /* dashboard  */
  .addWidgetButton {
    border: 1px;
    border-color: #b8b2b2 !important;
    background-color: #b8b2b2 !important;
    color: #8c8888 !important;
    width: 150px;
  }

  .addForm.offcanvas-header{
    background: #150552 !important;
    background-color: #150552 !important;
    color: #fff !important;
  }